<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Side 2</title>
	<link href="../static/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="wrapper">
	<header>
	<div id="logo">	
		<img src="../static/img/artly.png">
	</div>
	<div id="menu">
		<ul>
			<li><a href="/">Start</a></li>
			<li><a href="#">Side 2</a></li>
			<li><a href="#">Side 3</a></li>
		</ul>
	</div>
	</header>

	<div id="content">
		<h1>Side 2 </h1>
		<ul>
			<li><b><a href="#">Hej</a></b></li>
			<li>Hej</li>
			<li>Hej</li>
		</ul>
	</div>
	<footer>
		Footer
	</footer>
</div>
</body>
</html>